body {
	background-color: black;
	color: rgb(10, 137, 255);
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	 background-color: #111;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 300px;
	border-radius: 50%;
  }

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(10, 137, 255);
}

.styled:hover {
    background-color: darkcyan;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}